.btransfer-container {
    border: 2px solid black;
    box-sizing: border-box;
    margin: 3rem;
    /* height: 75vh; */
  }
  .btransfer-content {
    display: flex;
    justify-content: space-between;
    margin: 3rem 2rem;
  }
  .btransfer-content h1 {
    background: #ececec;
    border-radius:1rem;
    padding: 1rem;
    font-family: DM Sans;
    margin-top: 0.5rem;
    font-weight: bold;
  }
  .btransfer-container1 {
    display: flex;
    margin: 2rem;
  }
  .btransfer-content1 {
    background: #ececec;
    border-radius:1rem;
    padding: 1rem;
    width: 50%;
  }
  .btransfer-content1 h2 {
    font-size: 1.2rem;
    font-weight: bold;
    font-family: DM Sans;
    margin-bottom: 1rem;
  }
  .btransfer-content1 h4 {
    font-size: 1rem;
    font-weight: bold;
    font-family: DM Sans;
  }
  .btransfer-content2 {
    background: #ececec;
    border-radius:1rem;
    margin-left: 4rem;
  }
  .btransfer-content2 p {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: DM Sans;
    text-align: center;
    margin: 7% 2rem;
  }
  
  .btransfer-buttons {
    margin: 1rem 0 1rem 65vw;
    text-align: center;
    display: flex;
    gap: 1rem;
  }
  .btransfer-btn {
    cursor: pointer;
    font-family: DM Sans;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    padding: 0.5rem 1.5rem;
    border: none;
    background: #6c63ff;
    border-radius: 5rem;
    overflow: hidden;
  }
  .btransfer-btn:hover {
    background: #4e44fc;
  }
  