.cash-container {
  border: 2px solid black;
  box-sizing: border-box;
  margin: 3rem;
  /* height: 75vh; */
}
.cash-content {
  display: flex;
  justify-content: space-between;
  margin: 3rem 2rem;
}
.cash-content h1 {
  background: #ececec;
  border-radius:1rem;
  padding: 1rem;
  font-family: DM Sans;
  margin-top: 0.5rem;
  font-weight: bold;
}
.cash-container1 {
  display: flex;
  margin: 2rem;
}
.cash-content1 {
  background: #ececec;
  border-radius:1rem;
  padding: 1rem;
  width: 100%;
}
.cash-content1 h2 {
  font-size: 1.2rem;
  font-weight: bold;
  font-family: DM Sans;
  margin-bottom: 1rem;
  text-align:center;
}
.cash-content1 h4 {
  font-size: 1rem;
  font-weight:bold;
  font-family: DM Sans;
  text-align: center;
}
.cash-content2 {
  background: #ececec;
  border-radius:1rem;
  margin-left: 4rem;
}
.cash-content2 p {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: DM Sans;
  text-align: center;
  margin: 7% 2rem;
}

.cash-buttons {
  margin: 1rem 0 1rem 65vw;
  text-align: center;
  display: flex;
  gap: 1rem;
}
.cash-btn {
  cursor: pointer;
  font-family: DM Sans;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  padding: 0.5rem 1.5rem;
  border: none;
  background: #6c63ff;
  border-radius: 5rem;
  overflow: hidden;
}
.cash-btn:hover {
  background: #4e44fc;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px; 
}